<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Смена</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h3>Поменять</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <input type="text" name="name" value="{{.}}" pattern="[A-Za-zА-Яа-яЁё]+$" required /><br><br>
            <label>Число</label><br><br>
            <input  type="number" step="0.01" name="number" value="{{.}}" pattern="[0-9]{0,}" required />><br><br>
            <table>
                <tr><button type="submit">Отправить</button></tr>
                <tr><input type="button" onclick="location.href='/';" value="Вернуться" /></tr>
            </table>
        </form>
    </body>
</html>