<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Смена</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="searchorder">Заказы</a></li>
                <li><a href="all_orders">Все заказы</a></li>
                <li><a href="all_deliveries">Все поставщики</a></li>
                <li><a href="all_items">Все заказанные товары</a></li>
                <li><a href="all_payments">Все оплаты</a></li>
            </ul>
        </nav>
        <div>
            <!-- <iframe src="https://vkvideo.ru/video_ext.php?oid=463000886&id=456241194&hd=2" width="264" height="160" style="background-color: #000" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe> -->
            <!-- <div class="tenor-gif-embed" data-postid="6826133946841237201" data-share-method="host" data-aspect-ratio="1.77857" data-width="25%"><a href="https://tenor.com/view/maid-outfit-gif-6826133946841237201">Maid Outfit GIF</a>from <a href="https://tenor.com/search/maid+outfit-gifs">Maid Outfit GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
        </div>

    </body>
</html>